.select-button-container {
	display: flex;
	flex-direction: column;
}

.select-button {
	margin: 5px;
	box-sizing: border-box;
	padding: 10px 20px;
	border: 0px solid #ccc;
	border-radius: 4px;
	background-color: var(--tg-theme-secondary-bg-color);
	cursor: pointer;
	color: var(--tg-theme-text-color);
	font-size: 18px;
	transition:
		background-color 0.05s,
		border-color 0.05s;
}

.select-button.selected {
	background-color: var(--tg-theme-button-color);
	border-color: #ccc;
	color: white;
}

.input-container {
	display: flex;
	justify-content: center;
	width: 100%;
}

input[type="text"] {
	padding: 10px 15px;
	color: var(--tg-theme-text-color);
	background-color: var(--tg-theme-secondary-bg-color);
	border: 1px solid var(--tg-theme-secondary-bg-color);
	border-radius: 4px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	font-size: 18px;
	transition:
		border-color 0.3s,
		box-shadow 0.3s;
}

input[type="text"]:focus {
	border-color: var(--tg-theme-hint-color);
	outline: none;
}
